.pawnDot {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
}

#DE{
    background-color: black;
}

#GB {
    background-color: maroon;
}

#FR {
    background-color: navy;
}

#RUS {
    background-color: darkgreen;
}